JVCSMAKPLUGIN_CS_SRC_ASSEMBLYINFO RCDATA template_cs_AssemblyInfo.cs
JVCSMAKPLUGIN_CS_SRC RCDATA template_cs_Plugin.cs
JVCSMAKPLUGIN_CS_UNITSRC_EDIT RCDATA template_cs_Edit.cs
JVCSMAKPLUGIN_CS_FORMSRC_EDIT RCDATA template_cs_Edit.resx
JVCSMAKPLUGIN_CS_UNITSRC_ACTIONTEST RCDATA template_cs_ActionTest.cs
JVCSMAKPLUGIN_CS_FORMSRC_ACTIONTEST RCDATA template_cs_ActionTest.resx