JVCSMAKPLUGINSRC_DPR RCDATA template_Plugin.dpr
JVCSMAKPLUGINUNITSRC_ACTIONS RCDATA template_Actions.pas
JVCSMAKPLUGINFORMSRC_ACTIONS RCDATA template_Actions.dfm
JVCSMAKPLUGINUNITSRC_ACTIONTEST RCDATA template_Actiontest.pas
JVCSMAKPLUGINFORMSRC_ACTIONTEST RCDATA template_Actiontest.dfm
JVCSMAKPLUGINUNITSRC_EDIT RCDATA template_Edit.pas
JVCSMAKPLUGINFORMSRC_EDIT RCDATA template_Edit.dfm
JVCSMAKPLUGINSRC_MODULE RCDATA template_Module.pas
JVCSMAKPLUGINSRC_VARS RCDATA template_Vars.pas