DPR_PLUGIN RCDATA template_Plugin.dpr
PAS_ACTIONS RCDATA template_Actions.pas
DFM_ACTIONS RCDATA template_Actions.dfm
PAS_ACTIONTEST RCDATA template_Actiontest.pas
DFM_ACTIONTEST RCDATA template_Actiontest.dfm
PAS_EDIT RCDATA template_Edit.pas
DFM_EDIT RCDATA template_Edit.dfm
PAS_MODULE RCDATA template_Module.pas
PAS_VARS RCDATA template_Vars.pas